<section class="form__section">
  <div class="text">
    <h3>Fique por dentro das tendências</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perspiciatis
      voluptatibus nesciunt earum. Esse voluptates, dolorum porro sit distinctio
      tenetur, explicabo, perferendis fugit iure molestias labore corrupti atque
      veritatis aut? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Doloremque est aperiam laboriosam itaque sint ut nihil quae maxime
      accusantium aliquam dolore corporis quaerat officiis, at fugiat
      praesentium sunt ea asperiores.
    </p>
  </div>
  <form [formGroup]="newsletterForm">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" />

    <label for="email">E-mail</label>
    <input id="email" formControlName="email" />

    <btn-primary
      btn__text="Inscreva-se"
      variant="secondary"
      (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid"
      [loading]="loading()"
    ></btn-primary>
  </form>
</section>
