<!-- (click)="submit()" -->
<!-- Evento de clique: quando o botão é clicado, a função 'submit()' é chamada -->
<!-- [class]="'btn ' + variant" -->
<!-- Adiciona dinamicamente classes ao botão. 'btn' é uma classe fixa e 'variant' é uma variável que pode ser 'primary', 'secondary', etc. -->
<!-- [disabled]="disabled" -->
<!-- Define dinamicamente o estado 'disabled' do botão baseado na variável 'disabled' -->

<!-- Verifica se 'loading' é falso. Se for, exibe o texto do botão -->
<button (click)="submit()" [class]="'btn ' + variant" [disabled]="disabled">
  @if (!loading) {
  {{ btnText }}
  <!-- Verifica se 'loading' é verdadeiro. Se for, exibe "Carregando..." -->
  }@else { Carregando... }
</button>
